install
cdrom
lang en_US.UTF-8
keyboard --vckeymap=us --xlayouts='us'
network --onboot yes --device eth0 --bootproto dhcp --noipv6
rootpw --plaintext vagrant
firewall --enabled --service=ssh
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone --utc Etc/GMT
bootloader --location=mbr --driveorder=sda --append=" crashkernel=auto"

cmdline

clearpart --drives=sda --all --initlabel
autopart

auth  --useshadow  --enablemd5
firstboot --disabled
reboot
user --name=vagrant --plaintext --password vagrant

%packages --ignoremissing
@^cloudserver
@base
@core
@ps
@qemu
@readykernel
@templates
@vstorage
@vz
kexec-tools

%end

%post
sed -i "s/^Defaults    requiretty/Defaults \!requiretty/" /etc/sudoers

# Enable conntrack to make ssh work with default iptables configuration
sed -i "s/ip_conntrack_disable_ve0=1/ip_conntrack_disable_ve0=0/" /etc/modprobe.d/parallels.conf

# sudo
echo "%vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^[^#].*requiretty/#Defaults requiretty/" /etc/sudoers

echo "ulimit -c unlimited" >> /etc/bashrc
%end
